@model TestDBSqLite.DataAccess.UserModel
@{
    ViewData["Title"] = "Home Page";
}

<table width="640" border="1" align="center" bordercolor="#CCCCCC" style="border-collapse: collapse">
    <tr>
        <td width="612" height="28" bgcolor="#F4F4F4"><div align="center"><span class="header">รายการความคุ้มครองตามกรมธรรม์</span></div></td>
    </tr>
    <tr>
        <td height="28" bgcolor="#F4F4F4"><div align="center" class="header">@Model.Name</div></td>
    </tr>
    @*@foreach (var item in @Model)
    { 

    }*@
</table>
